<div *ngIf="plantillas.length">
  <!-- Table based in example from https://stackblitz.com/edit/angular-nested-mat-table?file=app%2Ftable-expandable-rows-example.html -->

  <table mat-table #outerSort="matSort" [dataSource]="dataSource" multiTemplateDataRows matSort>
    <!-- Column nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let plantilla">
        <mat-icon>arrow_right</mat-icon>
        {{plantilla.nombre}}
      </td>
    </ng-container>

    <!-- Column creditos -->
    <ng-container matColumnDef="creditos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Creditos</th>
      <td mat-cell *matCellDef="let plantilla">{{plantilla.creditos}}</td>
    </ng-container>

    <!-- Column jugadores -->
    <ng-container matColumnDef="jugadores">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Jugadores</th>
      <td mat-cell *matCellDef="let plantilla">{{plantilla.jugadores.data.length}}</td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let plantilla" [attr.colspan]="columnsAttributes.length">
        <div class="example-element-detail" *ngIf="plantilla.jugadores?.data.length" [@detailExpand]="plantilla == expandedElement ? 'expanded' : 'collapsed'">
          <div class="inner-table" *ngIf="expandedElement">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <table #innerTables mat-table #innerSort="matSort" [dataSource]="plantilla.jugadores" matSort>
              <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of innerColumnsAttributes; let indice=index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{innerColumnsDisplayed[indice]}} </th>
                <td mat-cell *matCellDef="let jugador"> {{jugador[innerColumn]}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="innerColumnsAttributes"></tr>
              <tr mat-row *matRowDef="let row; columns: innerColumnsAttributes;"></tr>
            </table>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsAttributes"></tr>
    <tr mat-row *matRowDef="let plantilla; columns: columnsAttributes;" [class.example-element-row]="plantilla.jugadores?.data.length"
    [class.example-expanded-row]="expandedElement === plantilla" (click)="toggleRow(plantilla)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</div>

<div [hidden]="plantillas.length" class="progress-bar">
  <div fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
  <div fxLayoutAlign="center center">
    <h4>Cargando . . . </h4>
  </div>
</div>

