<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="normas-template">
                <h1>Las normas</h1>
                <img class="mb-10 w-100" src="/assets/images/lider-supremo.jpg">
                <p><strong>PRIMERA SUBASTA:</strong><br>
                Cada equipo parte con 2000 créditos.</p>
                
                <p>El modelo de subasta será el clásico con la novedad que los primeros 100 jugadores (10 por equipo participante) serán sacados por un programa en orden aleatorio para agilizar la subasta. Estos 100 jugadores serán los 100 <a href="https://www.comuniazo.com/comunio/jugadores?posicion=todos&amp;valor=todos&amp;orden=valor">más caros en comuniazo</a> en la semana anterior a la subasta. Si nadie puja por un jugador, este queda sin equipo. En esta fase la subida mínima son 5 créditos.</p>
                
                <p>Una vez se acabe esta fase de la subasta se sacarán jugadores como siempre se ha hecho. Se pueden sacar por un crédito, pero la primera puja deberá de ser de 5 créditos.</p>
                
                <p>En esta primera subasta se podrán adquirir hasta 23 jugadores.</p>
                
                <p><strong>SEGUNDA SUBASTA:</strong><br>
                Con los créditos restantes de la primera subasta se hará una segunda subasta en una fecha por determinar cercana al 1 de diciembre, ya con el mercado cerrado.</p>
                
                <p>Modelo de subasta clásica, en el que se podrán adquirir jugadores hasta un máximo de 27 en plantilla.</p>
                
                <p><strong>DRAFT</strong><br>
                Al cierre del mercado de invierno (31 de enero) se realizará un draft cuyo orden de elección se determinará en sentido inverso a la clasificación de la liga y en el que se adquirirán 2 jugadores.</p>
                
                <p><strong>JUGADOR QUE DEJA LA LIGA</strong></p>
                
                <p>Si entre la primera y segunda subasta un jugador vendido deja La Liga, el equipo que lo haya fichado recibe el 50% de los créditos que invirtió por él (no hay 0,5 créditos, se redondea hacia arriba), los cuales podrá usar en la segunda subasta. El slot que ocupa ese jugador queda libre.&nbsp;</p>
                
                <p><strong>CRITERIOS DE DESEMPATE EN LIGA</strong></p>
                
                <p>Los criterios de desempate en caso de empate a puntos son:</p>
                <ul>
                    <li>
                        <p>Números de goles totales a favor</p>
                    </li>
                    <li>
                        <p>Enfrentamientos directos entre equipos implicados</p>
                    </li>
                    <li>
                        <p>Diferencia de goles totales</p>
                    </li>
                </ul>
                
                <p><strong>Demarcaciones:</strong><br>
                Son las de las plantillas de <a href="http://www.futbolfantasy.com/laliga/equipos/barcelona/plantilla">FutbolFantasy</a> en el momento de la subasta. No cambian en todo el año.</p>
                
                <p><strong>PUNTUACIÓN</strong></p>
                
                <p><strong>PUNTOS MARCA / AS</strong><br>
                Se suman las picas del As (PA) y los puntos Marca (PM) para conseguir la valoración del jugador</p>
                <ul>
                    <li>
                        <p>0 (-) picas/estrellas = -1 puntos</p>
                    </li>
                    <li>
                        <p>sin calificar= 0 puntos</p>
                    </li>
                    <li>
                        <p>1 picas/estrellas= +1 puntos</p>
                    </li>
                    <li>
                        <p>2 picas/estrellas= +2 puntos</p>
                    </li>
                    <li>
                        <p>3 picas/estrellas= +3 puntos</p>
                    </li>
                    <li>
                        <p>4 picas/estrellas = +4 puntos</p>
                    </li>
                </ul>
                
                <p>A la suma de los PA y PM se multiplica por 0,75, para obtener el valor definitivo.</p>
                
                <p>La referencia será siempre el digital, nada de papel.</p>
                
                <p><strong>POR JUGAR</strong><br>
                Por jugar +1 - cualquier jugador que salte al campo</p>
                
                <p><strong>POR GANAR / PERDER / EMPATAR</strong></p>
                <ul>
                    <li>
                        <p>Ganar +1</p>
                    </li>
                    <li>
                        <p>Empatar 0</p>
                    </li>
                    <li>
                        <p>Perder -1</p>
                    </li>
                </ul>
                
                <p>Si el jugador recibe un "sin calificar" en Marca o en As (en uno de los dos, o en los dos), estos puntos no se le tienen en cuenta</p>
                
                <p><strong>GOLES</strong></p>
                <ul>
                    <li>
                        <p>Delantero +1.5</p>
                    </li>
                    <li>
                        <p>Medio +2</p>
                    </li>
                    <li>
                        <p>Defensa +2.5</p>
                    </li>
                    <li>
                        <p>Portero +4</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Gol de penalty - +1.5 (independiente de la demarcación)<br>
                        Se considera también gol de penalti si coge el rechace y marca sin que toque ningún jugador que no sea el portero</p>
                    </li>
                    <li>
                        <p>Fallar penalti -1</p>
                    </li>
                    <li>
                        <p>Gol en propia -1</p>
                    </li>
                </ul>
                
                <p><strong>PUNTO EXTRA por marcar</strong><br>
                Cada jugador que marque al menos un gol recibe un punto extra.</p>
                
                <p><strong>ASISTENCIA</strong><br>
                +0,5 puntos por asistencia. Como referencia se toma en este caso Fútbol Fantasy.&nbsp;</p>
                
                <p><strong>PORTEROS</strong></p>
                <ul>
                    <li>
                        <p>Portería a cero +2</p>
                    </li>
                    <li>
                        <p>Un gol recibido 0</p>
                    </li>
                    <li>
                        <p>Dos goles recibidos -1</p>
                    </li>
                    <li>
                        <p>Tres goles recibidos -2</p>
                    </li>
                    <li>
                        <p>etc.</p>
                    </li>
                </ul>
                
                <p>Para recibir estos puntos el portero tiene que jugar al menos un minuto en primera y segunda parte</p>
                <ul>
                    <li>
                        <p>Portero que para penalty +1.5. Solo se considera parado si lo toca justo después de que patee el tirador. Si va al poste o fuera, no es parado.</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Chapecoense: Portero que no juega - 1.</p>
                    </li>
                </ul>
                
                <p><strong>DEFENSAS</strong><br>
                +1 si mantienen portería a cero. Para recibir estos puntos el defensa tiene que jugar al menos 45 minutos</p>
                
                <p><strong>EXPULSIONES</strong></p>
                <ul>
                    <li>
                        <p>Doble amarilla -2</p>
                    </li>
                    <li>
                        <p>Roja directa -3</p>
                    </li>
                </ul>
                
                <p><strong>CLÁUSULA "DE GEA"</strong><br>
                Si un portero recibe un "sc" habiendo jugado en las dos partes, su puntuación en el periodico en concreto es 0, pero obtiene el resto de puntos. Esta cláusula trata de impedir que a un portero que no ha tenido trabajo durante el partido y por ello tiene un "sc", no se le cuenten el resto de puntos</p>
                
                <p><strong>SUPLENTE</strong><br>
                Las alineaciones son de 12 jugadores, 11 titulares y un suplente. Si un jugador titular no juega (chapeco), entra el suplente siempre y cuando conforme con los restantes titulares una alineación válida (1 portero, entre 3 y 5 defensas, entre 3 y 5 medios y entre 1 y 3 delanteros.&nbsp;</p>
                
                <p>Una novedad de este año es que el suplente sumará el 75% de los puntos obtenidos, es decir, si suma 4 puntos, solo se suman 3 al resultado total.</p>
                
                <p><strong>ALINEACIÓN INDEBIDA</strong><br>
                Se resta al jugador / jugadores implicados con la regla de oro de que el infractor nunca puede salir beneficiado de la infracción. No debe de ocurrir ya que la tool lo impide.</p>
                
                <p><strong>NO ALINEACIÓN</strong><br>
                -5 para el equipo que no de alineación</p>
                
                <p><strong>CONVERSION PUNTOS A GOLES</strong></p>
                <ul>
                    <li>
                        <p>Menos de 28 puntos - 0 goles&nbsp;</p>
                    </li>
                    <li>
                        <p>Entre 28 y 35,99 - 1 gol</p>
                    </li>
                    <li>
                        <p>Entre 36 y 42,99 - 2 goles</p>
                    </li>
                    <li>
                        <p>Entre 43 y 48,99 - 3 goles</p>
                    </li>
                    <li>
                        <p>Entre 49 y 53,99 - 4 goles</p>
                    </li>
                    <li>
                        <p>Entre 54 y 57,99 - 5 goles</p>
                    </li>
                    <li>
                        <p>Entre 58 y 60,99 - 6 goles</p>
                    </li>
                    <li>
                        <p>Entre 61 y 63,99 - 7 goles</p>
                    </li>
                    <li>
                        <p>y así, cada tres puntos un gol más</p>
                    </li>
                </ul>
                
                <p><strong>DUDAS CON AUTORÍA DE LOS GOLES, ETC</strong><br>
                En caso de que el AS y el Marca no están de acuerdo prevalece el criterio del MARCA, edición digital</p>
                
                <p><strong>CALENDARIO</strong></p>
                
                <p>Alberto nos lo jodió. Hay que hacer uno nuevo.</p>
                
                <p>Además:</p>
                <ul>
                    <li>
                        <p>Partidos aplazados por lluvia, nieve, desprendimiento de tejados, etc NO IMPLICAN CANCELACIÓN DE JORNADA una vez la jornada ha comenzado.</p>
                    </li>
                    <li>
                        <p>Si se aplazan la mitad de partidos de una jornada, la jornada queda cancelada</p>
                    </li>
                    <li>
                        <p>La jornada del Mundialito de clubes, en caso de haberlo, se cancela</p>
                    </li>
                    <li>
                        <p>Las jornadas 1 y 2 de la LFP se cancelan para la Fantasbeka, ya que diversos equipos tienen sus partidos aplazados. Comenzamos la competición en la jornada 3 de la LFP.</p>
                    </li>
                </ul>
                
                <p><strong>DINERO</strong><br>
                Todos 42€ que ya os diré donde habréis de ingresar. 30 irán destinados a premios, 12 al pago del servidor para la tool.</p>
                
                <p><strong>DERECHOS DE FORMACIÓN DE CARA A LA TEMPORADA QUE VIENE</strong><br>
                De cara a la temporada siguiente, cada equipo podrá hacer uso de derechos de formación por dos jugadores. Esto quiere decir, que podrá fichar por 50 créditos por jugador a aquellos jugadores que este año costaron como máximo 5 créditos, sin que estos lleguen a salir a subasta. Estos derechos de formación se podrán ejercer únicamente con los jugadores fichados en la primera subasta</p>
                
                <p><strong>COMITE DE EXPERTOS</strong><br>
                Para evitar manipulaciones de la competición voy a nombrar un comité de expertos externo que resolverá las disputas que nosotros mismos no seamos capaces de dirimir. Estos expertos serán tres personas de la conferencia de Madrid, donde este bello juego se originó, ajenos a nuestras enemistades, envidias y manipulaciones. Todos tendremos sus correos y nada más. Podemos escribirles con las alegaciones a la vista de todos. Si hay alguna disputa ellos habrán de fallar en favor de unos o de otros por mayoría simple.</p>
                
                <p>ES DESEABLE QUE NO NECESITEMOS DE ESTE COMITÉ. La persona que trate de entorpecer la competición con este recurso u otros será expulsada como agua sucia. Su equipo le será asignado a otro jugador.</p>
            </div>
        </div>
    </div>
</div>
