<!-- Hidden if idJornada is not null -->
<!-- Shown if idJornada is null -->
<div [hidden]="idJornada">
  <mat-card fxLayoutAlign="center center">No hay jornada alineable</mat-card>
</div>

<!-- Shown if idJornada is not null -->
<!-- <div [hidden]="idJornada"> -->
<div [hidden]="!idJornada">

  <form novalidate [formGroup]="tacticaForm">

    <!-- Select tactica -->
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-form-field appearance="fill">
        <mat-label>Tactica</mat-label>
        <mat-select formControlName="tacticaSelected" (selectionChange)="onTacticaSelected($event.value)">
          <mat-option *ngFor="let tactica of tacticas()" [value]="tactica">{{tactica}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Select portero -->
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-form-field appearance="fill">
        <mat-label>Portero</mat-label>
        <mat-select formControlName="porteroSelected" (selectionChange)="onPorteroSelected($event.value)">
          <mat-option *ngFor="let portero of porteros()" [value]="portero">{{portero.nombreJugador}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Select defensas -->
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <mat-form-field *ngFor="let d of defensasTactica(); let i = index" appearance="fill">
        <mat-label>Defensa {{i + 1}}</mat-label>
        <mat-select formControlName="defensaSelected{{i + 1}}" (selectionChange)="onDefensaSelected($event.value)">
          <mat-option *ngFor="let defensa of defensas()" [value]="defensa">{{defensa.nombreJugador}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Select medios -->
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <mat-form-field *ngFor="let d of mediosTactica(); let i = index" appearance="fill">
        <mat-label>Medio {{i + 1}}</mat-label>
        <mat-select formControlName="medioSelected{{i + 1}}" (selectionChange)="onMedioSelected($event.value)">
          <mat-option *ngFor="let medio of medios()" [value]="medio">{{medio.nombreJugador}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Select delanteros -->
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <mat-form-field *ngFor="let d of delanterosTactica(); let i = index" appearance="fill">
        <mat-label>Delantero {{i + 1}}</mat-label>
        <mat-select formControlName="delanteroSelected{{i + 1}}" (selectionChange)="onDelanteroSelected($event.value)">
          <mat-option *ngFor="let delantero of delanteros()" [value]="delantero">{{delantero.nombreJugador}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Select reserva -->
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-form-field appearance="fill">
        <mat-label>Reserva</mat-label>
        <mat-select formControlName="reservaSelected" (selectionChange)="onReservaSelected($event.value)">
          <mat-option *ngFor="let jugador of reservas()" [value]="jugador">{{jugador.nombreJugador}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Boton enviar -->
    <div fxLayout="row" fxLayoutAlign="center">
      <button mat-raised-button (click)="enviarAlineacion()"  color="primary">Enviar</button>
    </div>

  </form>

</div>