<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Fantasbeka</span>
      <span class="example-spacer"></span>
      <div fxShow fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="/jornada" mat-button>
          <mat-icon>extension</mat-icon>
          Jornada
        </a>
        <a href="/jugadores" mat-button>
          <mat-icon>accessibility</mat-icon>
          Jugadores
        </a>
        <a href="/plantillas" mat-button>
          <mat-icon>account_box</mat-icon>
          Plantillas
        </a>
        <a href="/alinear" mat-button>
          <mat-icon>build</mat-icon>
          Alinear
        </a>
        <a href="/normas" mat-button>
          <mat-icon>account_balance</mat-icon>
          Normas
        </a>
        <a href="https://www.gesliga.com/Clasificacion.aspx?Liga=378143" mat-button target="_blank">
          <mat-icon>date_range</mat-icon>
          Calendario
        </a>
        <a href="https://www.gesliga.com/Clasificacion.aspx?Liga=378143" mat-button target="_blank">
          <mat-icon>verified_user</mat-icon>
          {{ nombre_equipo_fb }}
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="/jornada" mat-list-item>
          <mat-icon>extension</mat-icon>
          Jornada
        </a>
        <a href="/jugadores" mat-list-item>
          <mat-icon>accessibility</mat-icon>
          Jugadores
        </a>
        <a href="/plantillas" mat-list-item>
          <mat-icon>account_box</mat-icon>
          Plantillas
        </a>
        <a href="/alinear" mat-list-item>
          <mat-icon>build</mat-icon>
          Alinear
        </a>
        <a href="/normas" mat-list-item>
          <mat-icon>account_balance</mat-icon>
          Normas
        </a>
        <a href="https://www.gesliga.com/Clasificacion.aspx?Liga=378143" mat-list-item>
          <mat-icon>date_range</mat-icon>
          Calendario
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <!-- Begin Page Content -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
