td.chapeco {
	background-color: #FF000022;
}

td.suplente {
	background-color: #0000FF22;
}

td.ha-jugado {
	background-color: #00FF0022;
}

tr.mat-footer-row {
    font-weight: bold;
}

tr.next-goal {
    border-bottom: none;
    font-weight: lighter;
}

td.next-goal {
    text-align: right;
    border-bottom: none;
}

.progress-bar {
    margin-top: 30px;
}

.red-icon {
    color: red;
}

.yellow-icon {
    color: goldenrod;
}

/* Fix scrolling in matTable with matTooltip in mobile */
.tooltip-item {
    touch-action: auto !important;
}

