<mat-card>
  <mat-card-content>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Log In</h2>
          <mat-form-field>
              <input matInput type="text" formControlName="username" placeholder="Username" required>
              <mat-error>
                  Please provide a valid username
              </mat-error>
          </mat-form-field>

          <mat-form-field>
              <input matInput type="password" formControlName="password" placeholder="Password" required>
              <mat-error>
                  Please provide a valid password
              </mat-error>
          </mat-form-field>
          
          <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
<!--
      <div fxFlex *ngIf="errorMessage">
          <mat-card>
              <mat-card-title>
                  Error
              </mat-card-title>
              <mat-card-subtitle>
                  Error received: {{ errorMessage }}
              </mat-card-subtitle>
          </mat-card>
      </div>
-->
  </mat-card-content>
</mat-card>
